<div class="galeria">
    <main>
        <div class="content c1">
            <h1>Terrans</h1>
            <div class="imagenes">
                <img class="img-fluid" *ngFor="let imagen of galeriaTerran" src="{{imagen.img}}">
            </div>
        </div>
        <div class="content c2">
            <h1>Zergs</h1>
            <div class="imagenes">
                <img class="img-fluid" *ngFor="let imagen of galeriaZergs" src="{{imagen.img}}">
            </div>
        </div>
        <div class="content c3">
            <h1>Prottoss</h1>
            <div class="imagenes">
                <img class="img-fluid" *ngFor="let imagen of galeriaProtoss" src="{{imagen.img}}">
            </div>
        </div>
    </main>
</div>