.contenedor2 {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)), url(../../../assets/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedor2>main {
    display: flex;
    height: 80vh;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.contenedor2>main>.formulario {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 60%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgb(196, 250, 161);
    border: rgb(82, 82, 82) 1px solid;
    padding: 2rem;
}

.contenedor2>main>.formulario>h4 {
    color: red;
    font-size: 1rem;
}

.contenedor2>main>.formulario>a {
    color: rgb(255, 255, 255);
    ;
    display: inline-block;
    text-decoration: none;
    font-size: .8rem;
    margin: 15px;
}

.contenedor2>main>.formulario>a:hover {
    color: rgb(244, 252, 137);
    text-decoration: none;
    font-size: .90rem;
}

.contenedor2>main>.formulario>.btnSubmit {
    text-transform: uppercase;
    font-family: "Eurostile Extd", "Source Sans Pro", sans-serif;
    font-weight: 700;
    line-height: 1;
    background-origin: border-box;
    font-size: 18px;
    width: auto;
    border-width: 17px 60px;
    border-style: solid;
    padding: 0px;
    border-color: transparent;
    margin: 24px;
    box-shadow: 0 0 20px rgb(196, 250, 161);
    background-color: #EC5252;
    color: rgb(255, 255, 255);
    ;
}

.contenedor2>main>.formulario>.btnSubmit:hover {
    filter: brightness(80%);
}

.contenedor2>main>.formulario>.form-group {
    margin: 10px 0;
}

.contenedor2>main>.formulario>.form-group>.btnFace>img {
    margin-right: 5px;
}

.contenedor2>main>.formulario>.form-group>.btnFace {
    display: flex;
    padding: 1rem;
    cursor: pointer;
    background-color: #1A538A;
    justify-content: start;
    align-content: flex-start;
}