<div class="contenedor2">
    <form class="formulario" (ngSubmit)="validarFormulario(formulario)" #formulario="ngForm">
        <label for="exampleInputEmail1">Email address</label>
        <h4 *ngIf="formulario.submitted && formulario.controls['email'].errors" class="errorEmail">Error en el email</h4>
        <input type="email" name="email" class="form-control" [(ngModel)]="usuario.email" required email id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <label for="exampleInputPassword1">Password</label>
        <h4 *ngIf="formulario.submitted && formulario.controls['password'].errors" class="errorPass">Error en el password</h4>
        <input type="password" name="password" [(ngModel)]="usuario.password" required minlength="6" password class="form-control" id="exampleInputPassword1" placeholder="Password">
        <button type="submit" class="btn btn-primary">Crear Cuenta</button>
        <button type="button" (click)="goLogin()" class="btn btn-primary">Ingresar</button>
    </form>
</div>